.card {
  @apply relative w-[250px] h-[350px] overflow-hidden;
}

.card-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  cursor: pointer;
  object-fit: cover;
}

.indicator {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  /* display: flex;
    gap: 8px; */
}

.indicator-button {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.indicator-button.active {
  background-color: rgba(255, 255, 255, 1);
}

.thin-line-through {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.group-hover-effect {
  padding: 1rem;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.group:hover .group-hover-effect {
  transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  -o-transform: translateY(0.25rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
